<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ejs-2</title>
  </head>
  <body>
    <% if (users) { %>
    <h1><%= users.join(", "); %></h1>
    <% } %>
  </body>
</html>
